/* .toolbar entry {
    min-height: 28px;
} */

.main-content scrollbar.vertical {
    padding-left: 5px;
    margin-bottom: 24px;
}
.main-content scrollbar.horizontal {
    padding-top: 5px;
    margin-right: 24px;
}

/* .main-content .context-menu modelbutton {
    min-height: 24px;
    padding: 0px 8px;
    font-size: 13px;
} */
.main-content .context-menu scrolledwindow {
    margin-top: 6px;
}
.main-content .context-menu list {
    padding: 0;
}
.main-content .context-menu row {
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
}
.main-content .context-menu .truncated {
    font-style: italic;
}

.status-bar {
    font-size: 12px;
    padding: 3px 15px;
}