/* TOOLBAR */

.toolbar-tab button {
    padding: 0 8px;
    font-size: 12px;
}

.toolbar-view {
    margin: 6px;
    margin-top: 0;
    border-radius: 8px;
    -gtk-icon-size: 20px;
}
.toolbar-view button label {
    font-size: 13px;
    font-weight: normal;
}
.toolbar-view separator.vertical {
    background-color: transparent;
}
.toolbar-view .linked > button {
    padding-right: 2px;
}
.toolbar-view .linked > menubutton button {
    padding: 0;
    min-width: 12px;
    -gtk-icon-size: 16px;
}

.name-box {
    font-family: monospace;
}

.formula-bar {
    font-feature-settings: "tnum" 1;
}
.formula-bar-dtype {
    margin-right: 38px;
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    background: var(--view-bg-color);
}

.multiline-formula-bar-box {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.multiline-formula-bar {
    padding: 8px 0;
}
.multiline-formula-bar,
.multiline-formula-bar border,
.multiline-formula-bar border gutter,
.multiline-formula-bar text {
    background-color: transparent;
}

.inline-formula {
    padding: 0 5px;
    font-size: 12px;
    line-height: 1.25;
    border: 2px solid var(--accent-bg-color);
    font-feature-settings: "tnum" 1;
}

/* TABVIEW */

.tab-view scrollbar.vertical {
    padding-left: 5px;
    margin-bottom: 24px;
}
.tab-view scrollbar.horizontal {
    padding-top: 5px;
    margin-right: 24px;
}

/* POPOVER */

.context-menu {
    font-size: 14px;
}
.context-menu entry,
.context-menu button,
.context-menu modelbutton,
.context-menu .text-button {
    min-height: 28px;
    padding: 0 8px;
}
.context-menu button.inline {
    padding: 0 4px;
}

.popover-list-view {
    padding: 0;
}
.popover-list-view row {
    margin: 0;
    padding: 2px 4px;
    border-radius: 12px;
}

/* SIDEBAR */

.sidebar-expander-row,
.sidebar-expander-row > row,
.sidebar-expander-row .sidebar-list-view > row {
    padding: 0;
}
.sidebar-expander-row .sidebar-list-view {
    padding: 4px;
}
.sidebar-expander-row listview > header {
    padding: 1px 3px;
    padding-bottom: 3px;
    font-size: 12px;
}
.sidebar-expander-row listview > row {
    border-radius: 12px;
}

.sidebar-list-view {
    padding: 6px;
    background-color: transparent;
}
.sidebar-list-view > row {
    padding: 4px;
    padding-left: 12px;
    border-radius: 12px;
}
.sidebar-list-view > row:selected {
    background-color: var(--card-bg-color);
}

.sidebar-list-view-box {
    padding: 2px;
    background-color: transparent;
}
.sidebar-list-view-box > row:not(.activatable):selected {
    background-color: transparent;
}
.sidebar-list-view-box.navigation-sidebar {
    padding: 0;
}
.sidebar-list-view-box.navigation-sidebar > row {
    margin: 3px;
    padding-left: 2px;
    padding-right: 0;
    border-radius: 8px;
}
.sidebar-list-view-box > row button {
    font-weight: normal;
}
.sidebar-list-view-box popover row {
    padding: 4px 8px;
    border-radius: 12px;
}

.sidebar-list-view-box check,
.sidebar-list-view check {
    margin-right: 1px;
    background-color: transparent;
}
.sidebar-list-view-box dropdown .toggle {
    font-weight: normal;
    padding: 2px 4px 2px 8px;
}
.sidebar-list-view-box button,
.sidebar-expander-row .row-button,
.sidebar-expander-row .status-text button {
    padding: 1px;
    -gtk-icon-size: 14px;
}
.sidebar-expander-row entry {
    min-height: 28px;
    padding: 0 8px;
}
.sidebar-expander-row textview {
    padding: 5px 8px;
    font-feature-settings: "tnum" 1;
    border-radius: 10px;
}

.sidebar-list-item-badge {
    padding: 2px 8px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
    background: var(--view-bg-color);
}

/* NOTEBOOK */

.notebook-toolbar button,
.notebook-cell-toolbar button {
    padding: 2px 8px;
    font-size: 12px;
    -gtk-icon-size: 14px;
}
.notebook-cell-toolbar {
    border-radius: 8px;
}

.notebook-list-view  {
    background: transparent;
}
.notebook-list-view  > *:not(:first-child) {
    margin-top: 30px;
}

.notebook-source-view {
    padding: 8px 0;
    border-radius: 8px;
}
.notebook-source-view,
.notebook-source-view border,
.notebook-source-view border gutter,
.notebook-source-view text {
    background-color: transparent;
}

.notebook-output {
    margin-bottom: 10px;
}
.notebook-output,
.notebook-status {
    padding: 8px;
    border-radius: 8px;
}
.notebook-status {
    line-height: 1.25;
}

/* CUSTOMS */

.search-box {
    padding: 6px;
    background-color: var(--popover-bg-color);
    box-shadow: 0 0 40px var(--popover-shade-color);
    border-radius: 12px;
}

.search-command-entry {
    min-height: 28px;
    font-size: 14px;
    -gtk-icon-size: 12px;
}

.status-text {
    font-size: 12px;
}
.status-button {
    margin-top: -4px;
}

/* ANIMATIONS */

.slide-up-dialog {
    animation: slide-up-animation 0.2s ease-out forwards;
}
.slide-down-dialog {
    animation: slide-down-animation 0.3s ease-out forwards;
}
@keyframes slide-up-animation {
    from { transform: translateY(200px); }
    to { transform: translateY(0); }
}
@keyframes slide-down-animation {
    from { transform: translateY(0); }
    to { transform: translateY(200px); }
}