/* .toolbar entry {
    min-height: 28px;
} */

.main-content scrollbar.vertical {
    padding-left: 5px;
    margin-bottom: 24px;
}
.main-content scrollbar.horizontal {
    padding-top: 5px;
    margin-right: 24px;
}

.main-content .context-menu {
    font-size: 14px;
}
.main-content .context-menu .quick-statistics {
    font-size: 12px;
    font-variant-numeric: tabular-nums;
    line-height: 1.3;
}
.main-content .context-menu entry,
.main-content .context-menu modelbutton {
    min-height: 28px;
    padding: 0px 8px;
}
.main-content .context-menu scrolledwindow {
    margin-top: 6px;
}
.main-content .context-menu list {
    padding: 0;
}
.main-content .context-menu row {
    margin: 0;
    padding: 0;
}
.main-content .context-menu .search-placeholder {
    font-style: italic;
}

.status-bar {
    padding: 3px 15px;
    font-size: 12px;
    font-variant-numeric: tabular-nums;
}