@import url('resource://com/macipra/eruo/base.css');

.toolbar-view {
    background-color: rgb(52, 52, 54);
}

.sidebar-expander-row textview {
    background-color: rgb(68, 68, 71);
}

.main-canvas {
    background-color: rgb(25, 25, 25);
}

.floating-sheet {
    background-color: color(srgb 0 0 0.0235294 / 0.5);
}